<% include ./partials/header %>
<div ng-controller="WelcomeCtrl" id="pages-welcome" class='container'>
    <form name="login" ng-submit="submit()">
        <input type="text" ng-model="email" placeholder="이메일을 입력하시오">
        <input type="password" ng-model="pwd" placeholder="비밀번호를 입력하시오.">
        <button class="waves-effect waves-light btn" type='submit'>
            로그인
        </button>
    </form>
</div>
<script type="text/javascript">

</script>
<% include ./partials/footer %>
