<% include ./partials/header %>
<% include ./partials/nav %>

<div ng-controller="WelcomeCtrl" id="pages-welcome">
    <div class="container">
        <form ng-submit="submit()">
            <input type='text' ng-model='email' placeholder="이메일을 입력해 주세요.">
            <input type='password' ng-model='password' placeholder="비밀번호를 입력해 주세요.">
            <button type="submit">로그인</button>
        </form>
    </div>
</div>
<% include ./partials/footer %>
