<% include ../partials/header %>
<div ng-controller="MainCtrl" id="pages-main">
    <header>
        나의 메모
    </header>
    <div class="container">

    </div>
</div>
<% include ../partials/footer %>
