<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="/bower/angular/angular.min.js"></script>
        <link rel="stylesheet" href="/bower/materialize/dist/css/materialize.css">
        <link rel="stylesheet" href="/static/css/app.min.css">
        <link rel="stylesheet" href="/static/css/pages.min.css">
    </head>
    <body>
